<!-- 
 Descricao: Exercícios da Aula 11 - Tabelas e Dados Tabulados
 nome_arquivo: style.css
 nome_exercicio: Atividade 11 - Tabelas e Dados Tabulados
 nome_aluno: Luiz Guilherme Oliveira de Arruda 
 email_aluno: luiz.arruda@portalsesisp.org.br
 turma: 2ºA
 -->

header{

    background-color: rgb(221, 120, 120);

    padding: 5px;

    color: aliceblue;

}

.titulo {
    text-align: center;
}

header nav {

    background-color: rgb(147, 147, 224);

}

header nav ul{

    list-style-type: none;

    position: relative;

    height: 30px;

    display: flex; 

    justify-content: center;

    padding: 0;

    margin: 0;

}

header nav ul li {

    position: relative;

    display: block;
    margin: 10px;

}

main{

    background-color: rgb(226, 226, 205);

    padding: 5px;

}

main table{

    width: 400px;

    border: 1px solid;

}

main table td, main table th {

    border: 1px solid;

}

.nomedatabela {
    text-align: center;
}

.tabelas {
    width: 60%;
    margin-bottom:30px;
    margin: 0 auto;
}

footer{

    background-color: black;

    color: aqua;

    padding: 5px;

    text-align: center;

}